<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome to AdLister Classifieds!</h1>
            <p>You can list anything you want to sell here, and other registered users will be able to contact you via your email address.</p>
        </div>
        <div class="container">
            <h3>What are you waiting for?</h3>
            <ul>
                <li><a th:href="@{/listings}">View Listings</a></li>
            </ul>
        </div>
    </div>

</body>
</html>